variables:
  projectName:  'Pipeline'
  datetime:     $[format('{0:yyyyMMddHHmmss}', pipeline.startTime)]
  repoName:     $(Build.Repository.Name)
  branchName:   $(Build.SourceBranchName)
  perf.profile: 'azure-pipeline'

jobs:
- job: run_devtools_check
  timeoutInMinutes: 120
  pool:
    vmImage: ubuntu-24.04

  steps:
  - bash: |
      sudo apt-get update -y
      sudo apt-get upgrade -y
      sudo apt-get install -qq r-base -y

      echo "$(PERF_PROFILE)"
      echo "repoName   = $(repoName)"
      echo "branchName = $(branchName)"
      printenv
      R -q -e "base::Sys.getenv('PERF_PROFILE')"
      R -q -e "base::Sys.getenv(c('PERF_PROFILE'))"
      sudo R -q -e "base::Sys.getenv('PERF_PROFILE')"
      sudo R -q -e "base::Sys.getenv(c('PERF_PROFILE'))"

    displayName: 'Perf Profile: env'
    condition: succeeded()
